.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #181818;

    .menu-button {
        display: block;
        padding: 10px;
        font-size: 24px;
        background: none;
        border: none;
        color: #4d4d4e;
        text-align: left;
    }

    .menu-content {
        display: none; // Hide by default
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        position: absolute;
        top: 50px; // Slightly lower to give space to the button
        width: 100%;
        background-color: #181818;
    }

    .menu-content.open {
        display: flex;
    }

    .menu-content a, .menu-content NavLink {
        font-size: 16px;
        color: #4d4d4e;
        padding: 10px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        display: block;

        &:hover {
            color: #ffd700;
        }
    }

    .menu-content .fa {
        font-size: 18px; // Ensures icons are not too large
    }
}
